# Copy the managedDatabaseId from the OffSync page on the SQLiteCloud Dashboard
VITE_SQLITECLOUD_MANAGED_DATABASE_ID=
# The database name
# eg: my-remote-database.sqlite
VITE_SQLITECLOUD_DATABASE=
# Your SQLite Cloud API key
# Copy it from the SQLite Cloud Dashboard -> Settings -> API Keys
VITE_SQLITECLOUD_API_KEY=
# Your SQLite Cloud url for APIs
# Get it from the SQLite Cloud Dashboard in the Weblite section
# eg: https://myhost.cloud
VITE_SQLITECLOUD_API_URL=